# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
build/
dist/
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DL&ML Models
*.om
*.pb
*.pt
*.weights
*.onnx
*.caffemodel
*.air

# video or image files
*.mp4
*.avi
*.jpeg
*.jpg
*.png