*.om
*.pth
*.h5
*.tflite
__pycache__
kernel_meta
*.bin
.ipynb_checkpoints
build
#*.jpg
*.h264
*.h265
*.caffemodel
*.air
*.so
*.o
*.pb
*.run
*.mp4
*.onnx
*.pth
*.pt
*.json
BlazeFace-PyTorch/
output/
insightface/
results/*
*.zip
*.tar
*.rar
*.mov
